<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/results.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <img src="/img/logo.png" alt="Thoughts" />
      </a>
      <ul>
          <li>
            <a class="navbar-btn" href="/register">Registrar</a>
            <a class="navbar-btn" href="/login">Entrar</a>
          </li>
      </ul>
    </nav>
    <div>
      {{{body}}}
    </div>
    <footer>
      <p><span>Equipe: Amanda Vanderlinde, Gustavo Fontana, Iasmim Bitencourt e Yasmin Feltrin </span> &copy; 2022</p>
    </footer>
  </body>
</html>