:root {
  --cor-principal: #fb008b;
  --cor-complementar: #ff76da;
  --cor-secundaria: #f7d2fb;
}

* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--cor-principal);
}

a {
  text-decoration: none;
}

body {
  background-color: white;
}
/* NAVBAR */
#logo img {
  height: 40px;
}

.select-perguntas {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #f9f9f9, #fff);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* Estilos para as opções do select */
.select-perguntas option {
  padding: 10px;
  margin-top: 2px;
  font-size: 16px;
  color:black;
  background-color: rgb(226, 163, 210);

}

#navbar {
  padding: 1.2em 2.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  height: 50px;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--cor-secundaria);
  transition: 0.5s;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: var(--cor-complementar);
}

/* CONTAINER */

.container {
  min-height: 60vh;
  padding: 2em;
}

/* LOGIN E REGISTER */
.auth-container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.auth-container .title-section {
  text-align: center;
  color: var(--cor-complementar);
  margin: 50px auto;
}

.auth-container h2 {
  margin-bottom: 1em;
  color: var(--cor-principal);
  border-left: 4px solid var(--cor-principal);
  padding: 0.3em;
  width: 100%;
}

.auth-container a {
  color: var(--cor-principal);
}

.home-banner {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: -16px;
}

.home {
  background-color: white;
  position: relative;
}

.home .bibble {
  position: absolute;
  top: -90px;
  left: 0px;
  transform: scaleX(-1);
  width: 350px;
}

.home .barbie {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.home .list-card-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  gap: 10px;
  margin-bottom: 82px;
}

.home .list-card-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-bottom: 82px;
}

.home .list-card {
  width: 100%;
  /* background-color: var(--cor-principal); */
  border: 0px;
  padding: 20px;
  grid-template-rows: 85px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0.5em;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  background-color: #fff;
}

.home .list-card, .home .list-card-test {
  z-index: 10;
}

.home .list-card:hover {
  color: white;
  background-color: var(--cor-principal);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.home .list-card:hover h1, .home .list-card:hover span {
  color: white;
}
.home .list-card:hover .animation {
  transform: translate(20%, 0%); 
}

.home .list-card h1, .home .list-card span {
  transition: 0.3s ease-in-out all;
  color: var(--cor-complementar);
}

.home .list-card-row .list-card-test {
  width: 350px;
  height: 80px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 15px 20px;
  transition: ease-in-out 0.3s all;
  display: flex;
  flex-direction: row;
}

.home .list-card-row .list-card-test:hover {
  transform: scale(1.02, 1.02);
}

.list-card-test .card-icon {
  width: 20%;
  height: 50px;
  text-align: center;
  margin: auto 0px;
}
.list-card-test .card-icon span {
  font-size: 50px;
}
.list-card-test .card-text {
  width: 80%;
  height: 50px;
  margin: auto 0px;
}
.list-card-test .card-text h5 {
  color: var(--cor-complementar);
}

.login {
  height: calc(100vh - 154px);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.login-card {
  margin: auto;
  width: 500px;
}

.login .barbie {
  position: absolute;
  width: 400px;
  bottom: 0px;  
  right: 0px;
}

.tasks-container {
  max-width: 1200px;
  margin: 0px auto;
  min-height: calc(100vh - 154px);
}

.tasks-title { 
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.tasks-container .tasks-title .actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tasks-container .tasks-title .actions a {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--cor-secundaria);
  color: var(--cor-complementar);
  border-radius: 50px;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}

.tasks-container .tasks-title .actions a:hover {
  transform: scale(1.02, 1.02);
}

.tasks-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.tasks-register .tasks-description {
  margin: auto;
  width: 600px;
}

.results-container {
  max-width: 1200px;
  margin: 0px auto;
  min-height: calc(100vh - 154px);
  position: relative;
}

.results-container .barbie {
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.results-title { 
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
  padding: 14px 10px;
  border-radius: 3px;
  border: 1px solid var(--cor-principal);
  background-color: transparent;
  font-size: 14px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}

form input[type='submit'],
.btn {
  background-color: transparent;
  color: var(--cor-principal);
  border: 2px solid var(--cor-principal);
  padding: 0.5em 1.3em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

form input[type='submit']:hover,
.btn:hover {
  background-color: var(--cor-principal);
  color: #fff;
}

/* FOOTER */
footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-principal);
  font-weight: bold;
}
footer p {
  color: var(--cor-complementar);
}
footer span {  
  color: #fff;
}

.alert-danger {
  position: relative;
  top: 60px;
  background-color: #ffbfc2;
  border: 1px solid #ff0909;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 0.7143rem 1.071rem;
  border-radius: 2px;  
  color: #ff0909;
  font-weight: bold;
}

/* Pagina de tarefas*/
.grid-wrap {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  width: 960px;
  margin: 0 auto;
}

.card {
  display: grid;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: .5em;
  transition: 0.3s;
  padding: .5em .5em;
  grid-template-rows: 100px 250px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card-head {
  background-color: var(--cor-principal);
  border-radius: 5px;
}

.card-body {
  text-align: center;
  margin-bottom: 2em;
}
