<div class="tasks-container tasks-register">
	<div class="tasks-description" style="margin: 50px 0px">
		{{#if error}}
			<div class='alert-danger'>{{error}}</div>
		{{/if}}
		<form class='form-control' action='/register/tasks' method='POST'>
			<div class="title-section">
				<div style="display: flex; flex-direction: row; justify-content: left; gap: 20px">
					<a class="go-back-btn" href="/tasks"><span class="material-symbols-outlined">arrow_back</span></span></a>
					<h2 style="margin-top: 8px;">Cadastro de Avaliação</h2>
				</div>				
				<input type="submit" value="Finalizar avaliação" style="margin: auto 0px;">
			</div>
			<br><br>
			<label>Nome da avaliação:</label>
			<input type="text" name="nome_avaliacao" value="{{nome_avaliacao}}" required></input>
			<br><br>
			<label>
				Selecione as perguntas:<br>
				<p style="font-size: 12px; font-weight: normal">
				Pressione a tecla CRTL para selecionar múltiplos itens
				</p>
			</label>			
			<select name="perguntas"  class="select-perguntas" required multiple>
				{{#each perguntas}}
				<option value="{{this.id}}">{{this.pergunta}}</option>
				{{/each}}
			</select><br><br>			
		</form>
	</div>
</div>