{{#if avaliacoes.length}}
<article class="grid-wrap">
  {{#each avaliacoes}}
  <a href="/avaliacao/{{ id }}">
    <div class="card">
      <div class="card-head"></div>
      <div class="card-body">
        <h3>{{nome}}</h3>
      </div>
    </div>
  </a>
  {{/each}}
</article>
{{else}}
<p>Não há tarefas para exibir.</p>
{{/if}}

<a href="/register/tasks">Cadastrar nova avaliação</a>

<a href="/register/pergunta">Cadastrar nova pergunta</a>