
<div class="tasks-container">
  <div class="tasks-title">
    <h1>Avaliações Cadastradas</h1>
    <div class="actions">
      <a href="/register/tasks">Cadastrar Avaliação</a>
      <a href="/createQuestion">Cadastrar Pergunta</a> 
    </div>   
  </div>
  <div class="tasks-description">
    <table>
      <tr>
        <th>Nome da avaliação</th>
        <th>Ações</th>
      </tr>
      {{#if avaliacoes.length}}
        {{#each avaliacoes}}
        <tr>
          <td>{{nome}}</td>
          <td><a href="/avaliacao/{{ id }}">Ver</a></td>
        </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="2">Não há tarefas para exibir.</td>      
        </tr>    
      {{/if}}
    </table>
  </div>
</div>

