<article class="grid-wrap">
  <div class="card">
    <div class="card-head"></div>
    <div class="card-body">
      <h3>Header</h3>
      <p>Lipsum Ipsum Tipsum</p>
    </div>
  </div>
  <div class="card">
    <div class="card-head"></div>
    <div class="card-body">
      <h3>Header</h3>
      <p>Lipsum Ipsum Tipsum</p>
    </div>
  </div>
  <div class="card">
    <div class="card-head"></div>
    <div class="card-body">
      <h3>Header</h3>
      <p>Lipsum Ipsum Tipsum</p>
    </div>
  </div>
  <div class="card">
    <div class="card-head"></div>
    <div class="card-body">
      <h3>Header</h3>
      <p>Lipsum Ipsum Tipsum</p>
    </div>
  </div>
  <div class="card">
    <div class="card-head"></div>
    <div class="card-body">
      <h3>Header</h3>
      <p>Lipsum Ipsum Tipsum</p>
    </div>
  </div>
  <div class="card">
    <div class="card-head"></div>
    <div class="card-body">
      <h3>Header</h3>
      <p>Lipsum Ipsum Tipsum</p>
    </div>
  </div>

  <a href="/register/tasks">Ir para Cadastro de tarefas</a>
</article>