<div class="cadastro-container">
    <h1 class="cadastro-title">Cadastro das Perguntas</h1>

    <form class="form-cadastro" action="register/cadastroPerguntas" method='POST'>
        <label>Crie a sua pergunta:</label>
        <input type="text" id="cad-pergunta" name="cad-pergunt"> <br><br>

        <label for="resposta1">a:</label>
        <input type="text" id="a" name="resposta"><br><br>

        <label for="resposta2">b:</label>
        <input type="text" id="b" name="resposta"><br><br>

        <label for="resposta4">c:</label>
        <input type="text" id="c" name="resposta"><br><br>

        <label for="resposta5">d:</label>
        <input type="text" id="d" name="resposta"><br><br>

        <label for="resposta3">e:</label>
        <input type="text" id="e" name="resposta"><br><br>

        <label for="resposta3">Resposta:</label>
        <input type="text" id="resposta_correta" name="resposta"><br><br>

        <input type="submit" value="Criar pergunta" >

    </form>
</div>