<div class="cadastro-container">
    <h1 class="cadastro-title">Cadastro das Perguntas</h1>

    <form class="form-cadastro" action="register/cadastroPerguntas" method='POST'>
        <br><br><label>Crie a sua pergunta: </label>
        <input type="text" id="cad-pergunta" name="cad-pergunt"> <br><br>

       <br><br><label for="resposta1">a:</label>
        <input type="text" id="a" name="resposta"><br><br>

        <label for="resposta2">b:</label>
        <input type="text" id="b" name="resposta"><br><br>

        <label for="resposta3">c:</label>
        <input type="text" id="c" name="resposta"><br><br>

        <label for="resposta4">d:</label>
        <input type="text" id="d" name="resposta"><br><br>

        <label for="resposta5">e:</label>
        <input type="text" id="e" name="resposta"><br><br>

        <br><br><label for="resposta-correta">Resposta correta: </label>
        <label for="resposta-a">a:</label>
        <input type="radio" id="resposta-a" name="resposta-correta" value="a">

        <label for="resposta-b">b:</label>
        <input type="radio" id="resposta-b" name="resposta-correta" value="b">

        <label for="resposta-c">c:</label>
        <input type="radio" id="resposta-c" name="resposta-correta" value="c">

        <label for="resposta-d">d:</label>
        <input type="radio" id="resposta-d" name="resposta-correta" value="d">

        <label for="resposta-e">e:</label>
        <input type="radio" id="resposta-e" name="resposta-correta" value="e"><br><br>


        <br><br><input type="submit" value="Criar pergunta">

    </form>
</div>